body {
    margin: 0;
    padding: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
    z-index: 0;
}

/* Changes the groupcontrollayer button icon */
.leaflet-control-layers-toggle {
	background-image: url(icons/filter.svg);
    z-index: 1000;
}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(icons/filter.svg);
	background-size: 48px 48px;
    z-index: 1000;
}

.leaflet-touch .leaflet-bar a {
	width: 36px;
	height: 36px;
	line-height: 36px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 35px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 35px;
}