body {
    height: 100%;
    margin: 0;
}
#map {
    height: 100vh;
    z-index: -1;
}
#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cc0;
    color: white;
    height: 40px;
}
.sidenav {
    height: 0;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #cc0;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.sidenav a {
    /*padding: 8px 8px 8px 30px;*/
    padding-left: 15px;
    text-decoration: none;
    /*font-size: 10px;*/
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    top: 10px;
    font-size: 36px;
    transition: 0.3s;
    padding-bottom: 10px;
}

.menuopener{
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-size: 30px;
    height: 40px;
    cursor: pointer
}

#sidenav2 {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 25%;
    overflow-x: hidden;
    transition: 0.5s;
}